* {
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcf5c7;
    align-items: center;

}

.header {
    padding: 1%;
    margin: 30px 0%;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

.instruction {
    padding: 20px;;
    font-size: 20px;
}

.game-container {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.game-score {
    display: flex;
    padding: 1%;
}

.score {
    margin: 10px;
}

.choices {
    display: flex;
}

.button {
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
}

.outcome {
    margin: 5px;
}
#rockButton {
    background-color: #ffc09f;

}

#paperButton {
    background-color: #ffee93;
}

#scissorsButton {
    background-color: #adf7b6;

}

#playAgain {
    background-color: #a0ced9;
    margin: 5px;
    margin-bottom: 20px;
}